# First, ignore EVERYTHING
*
# Then open it up....

# Root files
# =============================
!.gitignore
!.gitconfig
!Brewfile

# Claude skills
# =============================
# First allow...
!.claude/
# Ignore everything inside...
.claude/*
# Then whitelist...
!.claude/skills/
!.claude/skills/**

# VSCode Profiles
!.code_profiles

# Config files
# ==============================
# First allow...
!.config/
# Ignore everything inside...
.config/*
# Then whitelist...
!.config/aerospace/
!.config/aerospace/**
!.config/camera_monitor.sh
!.config/mic_monitor.sh 
!.config/ghostty/
!.config/ghostty/**
!.config/hammerspoon/
!.config/hammerspoon/**
!.config/iterm2/
.config/iterm2/*
!.config/iterm2/default_profile.json 
!.config/nvim/
!.config/nvim/**
!.config/oh-my-zsh/
!.config/oh-my-zsh/**
!.config/.README.md
!.config/sketchybar/
!.config/sketchybar/**
!.config/tree-sitter/
!.config/tree-sitter/**
!.config/zsh/
!.config/zsh/**

# TODO: Remove credentials first
# !.zshrc

# Scripts
!.scripts




